/* 
Primary: #ff5200

//Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 

*/

/* -------------------------------------------------- */
/* -----------------------GENERAL-------------------- */
/* -------------------------------------------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* global reset */

html {
  font-size: 62.5%;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: 1fr 1fr;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

body {
  font-family: "Fira Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.heading--secondary {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
  text-align: center;
  color: #999;
}

.subheading {
  font-size: 1.6rem;
  font-weight: 700;
  color: #ff631a;
  text-transform: uppercase;
  margin-bottom: 3.6rem;
}

.margin--right {
  margin-right: 1.6rem;
}

.margin--bottom {
  margin-bottom: 8rem;
}

strong {
  font-weight: 500;
}
/* -------------------------------------------------- */
/* -----------------------BUTTONS-------------------- */
/* -------------------------------------------------- */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  border-radius: 1.3rem;
  padding: 1.6rem 3.2rem;

  transition: background-color 0.5s;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.btn--main:link,
.btn--main:visited {
  background-color: #ff864d;
  border: #ff631a solid 0.2rem;
  color: #fff;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(255, 98, 26, 0.506);
}
.btn--main:hover,
.btn--main:active {
  background-color: #ff631a;
}

.btn--secondary:link,
.btn--secondary:visited {
  background-color: #fff;
  color: #555;
}

.btn--secondary:hover,
.btn--secondary:active {
  background-color: #ffba99;
  /* Trick to add border inside */
  box-shadow: inset 0 0 0 3px #fff;
}

/* -------------------------------------------------- */
/* -----------------------HEADER--------------------- */
/* -------------------------------------------------- */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffba99;
  height: 9.6rem;
  padding: 0 6.4rem;
}

.logo {
  width: 9.6rem;
}

.logo:hover {
  cursor: pointer;
  filter: brightness(98%);
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #ff631a;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  border-radius: 1.3rem;
  padding: 1.2rem 2.4rem;
  color: #fff;
  background-color: #ff864d;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #ff631a;
}

/* -------------------------------------------------- */
/* --------------------SECTION HERO------------------ */
/* -------------------------------------------------- */

.section-hero {
  background-color: #ffba99;
  padding: 4.8rem 0rem 14.4rem 0rem;
}

.hero {
  align-items: center;
  gap: 12.8rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin: 1rem 0;
  margin-bottom: 4.8rem;
}

.hero-description span {
  font-weight: 500;
}

.hero-img {
  width: 100%;
  border-radius: 3rem;
}

.clients {
  font-weight: 500;
  color: #333;
  font-size: 1.6rem;
  letter-spacing: 2px;
  padding: 0.6rem 1.2rem;
}

.clients span {
  color: #ff631a;
}

/* -------------------------------------------------- */
/* -------------------SECTION PARTNERS--------------- */
/* -------------------------------------------------- */

.section-partners {
  margin-top: 2.4rem;
  padding: 4.8rem 0rem 3.2rem 0;
  background-color: #fff;
}

.partners-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.partner img {
  width: 9.6rem;
  filter: grayscale(100%);
  opacity: 50%;
}

/* -------------------------------------------------- */
/* -------------------SECTION MEALS------------------ */
/* -------------------------------------------------- */
.section-meals {
  padding: 9.6rem 0;
}
.grid-gap {
  gap: 3.6rem;
}
.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 2.4rem;

  overflow: hidden;
  margin-bottom: 2rem;
}

.meal-content {
  padding: 4.8rem;
}
.heading-meals {
  font-size: 3.2rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 2rem;
}

.meal-img {
  width: 100%;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #ff631a;
  margin-right: 0.5rem;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-ingridients {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-ingridient {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.meal-tags {
  margin-bottom: 1.6rem;
}
.tag {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #51cf66;
  color: #333;
  border-radius: 2rem;
  font-weight: 600;
}

.meal-more {
  text-decoration: none;
  font-size: 1.6rem;
  color: #ff864d;
}

.all-food {
  text-align: center;
}

.meal-more:hover {
  color: #ff631a;
  text-decoration: underline;
}

/* -------------------------------------------------- */
/* ---------------SECTION TESTIMONIALS--------------- */
/* -------------------------------------------------- */
.center-text {
  text-align: center;
}
.section-testimonials {
  background-color: #ffba99;
  display: grid;
  grid-template-columns: 0.55fr 0.45fr;
  align-items: center;
}

.testimonial-img {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonials-conatiner {
  padding: 9.6rem;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #777;
}

.gallery-item img {
  display: block;
  width: 100%;
  transform: all 0.3s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

.gallery-item {
  overflow: hidden;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

/* -------------------------------------------------- */
/* -----------------CALL TO ACTION------------------- */
/* -------------------------------------------------- */

.section-cta {
  padding: 12.4rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  height: 50rem;
  background-image: linear-gradient(
    to right bottom,
    hsla(18, 98%, 60%, 0.609),
    hsla(19, 91%, 50%, 0.74)
  );
  overflow: hidden;
}

.cta-text-box {
  padding: 6.4rem;
  color: #333;
}

.cta .heading--secondary {
  color: #555;
  font-weight: 500;
  margin-bottom: 3.2rem;
}
.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      hsla(18, 98%, 60%, 0.285),
      hsla(19, 91%, 50%, 0.253)
    ),
    url("../img/cta.jpg");
  background-size: cover;
  background-position: center;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
}
.heading {
  font-size: 3.2rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.btn--form {
  background-color: white;
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #ff631a78;
  border: 1px solid white;
}

.cta *:focus {
  outline: none;
  /* outline: 4px dotted #ff631a;
  outline-offset: 8px; */
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/* -------------------------------------------------- */
/* ----------------------FOOTEER--------------------- */
/* -------------------------------------------------- */

.footer {
  padding: 9.6rem 0;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  margin-bottom: 3.6rem;
}

.logo-col {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  display: block;
  width: 8.4rem;
  margin-bottom: 4.2rem;
}
.address {
  margin-bottom: 2.4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
.copyright {
  font-size: 1.4rem;
  color: #767676;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  cursor: pointer;
  color: #333;
}
